<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>Namible</name>
        <version>1.0</version>
        <author>Namible</author>
        <id>namible</id>
    </information>
    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>
